@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'MACHINE';
  src: url("../assets/Font/MACHINE.otf");
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
}

@layer base {
  body {
    @apply bg-background text-white font-montserrat !scrollbar-thin  !scrollbar-track-transparent !scrollbar-thumb-purple  
  }

  header {
    @apply   fixed top-0 text-purple z-50 flex w-full items-center justify-between px-6 md:px-16  py-2 transition-all lg:py-2 
  }

  footer {
    @apply text-white px-6 md:px-16 py-4
  }
}



@layer components {
  
}


